// cool colors
$red: #F61900;
$pink: #F6E5E5;
$grey: #797981; 
$ice: #EEEEEE;
$black: #000000;

header {
	color: $grey;
	text-align: left;
}

.container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.banner {
	width: 100%;
}
